@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Mulish", sans-serif;
}

.main {
  @apply max-w-[1600px] mx-auto;
}

.container {
  @apply w-[1273px] mx-auto;
}

.customShadow {
  box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.4);
}

.linear {
  background: linear-gradient(223deg, #67c3f3 0%, #5a98f2 100%);
}

@media (-webkit-device-pixel-ratio: 1.25) {
  :root {
    zoom: 0.8;
  }
}
